@media screen and (max-width:600px) {
    
  
#navbar {
    width: 100%;
    
   
}




.flex_item2{
    display: none;
}


    

   

     img{
        width: 100%;
        height: 400px;
        z-index: -1;
    }
    .bottom-left{
       
      font-size: 16px;
      position: absolute;
      bottom: 428px;
      left: 10px;
  }

  .bottom-left h1{
    font-size: 16px;
  }

.section_1{
    flex-direction: column;
    /* padding-left: 22px; */
}

  .section_1 img{
    width: 230px;
    height: 400px;
    padding-bottom: 50px;


    padding-left: 50px;
    padding-top: 50px;  
  }
    
  
  .h{
    
    padding-left: 80px;
    letter-spacing: 0px;
     
     /* text-align: center; */
} 

 .h5{
    padding-top: 25px;
    padding-left: 87px;
    padding-bottom: 10px;
    letter-spacing: 1px;
    
    
   } 
   
hr {
    border: 0;
    border-top: 1px solid #eee;
    display: block;
    width: 30%;
    margin: auto;


}

 .container_1{
    flex-direction: column;
    width: 100%;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 40px;
    /* background-color: red; */
 }

 .child_div_text h6 {
    font-size: 20px;
    font-weight: 300;
    margin-top: 2rem;
    letter-spacing: 2px;
    font-family: "Playfair Display";
    padding-right: 20px;
    text-align: center;
}

.child_div_text p {

    font-size: 16px;
    font-weight: 400;
    margin-top: 0.5rem;
    color: #757575 !important;
    letter-spacing: 0;
    line-height: 20px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
}
.im{
    width: 230px;
    height: 400px;
    /* padding-left: 45px; */
    display: block;
    margin: auto;
}

.innerdiv_text h1{
    font-size: 26px;
    font-weight: 700;
    width: 100%;
    
}
.p{
    text-align: center;
}


.container_1{
    padding-bottom: 5px;
}

.container_2{
    padding-top: 0px;
    text-align: center;
    padding-left: 0px;
}

.container_2 p{
    padding-left: 5px;
    padding-right: 5px;
}





#btn {
    width: 35%;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 30px;
    font-size: 16px;


}
.container_2 h3{


    padding-left: 5px;
    padding-right: 5px;
}
}

/* Medium Mobile  */

@media (min-width:330px) and (max-width:420px){

#one{

    padding-left: 70px;
    padding-bottom: 10px;
}




}

    /* Large Mobile */

@media (min-width:420px) and (max-width:480px){

    #one{

        padding-left: 100px;
        /* padding-bottom: 10px; */
    }

    .pha{

        padding-left: 60px;


    }
}


 


